In [1]:
import pandas as pd
import numpy as np

In [6]:
df1=pd.read_csv('../data/dataset.csv')

In [7]:
df1.head(2)

,subject,sender,receiver,timestamp,message_body,thread_id,email_types,email_status,email_criticality,product_types,agent_effectivity,agent_efficiency,customer_satisfaction
0,Mercury Language Documentation Issue,john.doe@example.com,support@aetheros.com,2023-10-26 10:02:34+00:00,"Hi Aetheros Support,\n\nI'm having trouble fin...",aa001-8e561ac9-8523-421f-9d05-e4c2a80a26d7,['inquiry'],ongoing,low,['Mercury Language'],high,very low,0.9043
1,Re: Mercury Language Documentation Issue,support@aetheros.com,john.doe@example.com,2023-10-27 14:15:22+00:00,"Dear John,\n\nThank you for reaching out to Ae...",aa001-8e561ac9-8523-421f-9d05-e4c2a80a26d7,['inquiry'],ongoing,low,['Mercury Language'],high,very low,0.9043

In [62]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   subject                2259 non-null   object
 1   sender                 2259 non-null   object
 2   receiver               2259 non-null   object
 3   timestamp              2259 non-null   object
 4   message_body           2259 non-null   object
 5   thread_id              2259 non-null   object
 6   email_types            2259 non-null   object
 7   email_status           2259 non-null   object
 8   email_criticality      2259 non-null   object
 9   product_types          2259 non-null   object
 10  agent_effectivity      2259 non-null   object
 11  agent_efficiency       2259 non-null   object
 12  customer_satisfaction  2259 non-null   float64
dtypes: float64(1), object(12)
memory usage: 229.6+ KB

In [63]:
df1.email_criticality.value_counts()

email_criticality
high      934
medium    666
low       659
Name: count, dtype: int64

In [13]:
selected_colums_for_email_type=['subject','message_body','email_types']
df1_email_type=df1[selected_colums_for_email_type]
df1_email_type.head(2)

,subject,message_body,email_types
0,Mercury Language Documentation Issue,"Hi Aetheros Support,\n\nI'm having trouble fin...",['inquiry']
1,Re: Mercury Language Documentation Issue,"Dear John,\n\nThank you for reaching out to Ae...",['inquiry']

In [15]:
df1_email_type.shape

(2259, 3)

In [17]:
df1_email_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject       2259 non-null   object
 1   message_body  2259 non-null   object
 2   email_types   2259 non-null   object
dtypes: object(3)
memory usage: 53.1+ KB

In [19]:
df1_email_type['message_body'][0]

"Hi Aetheros Support,\n\nI'm having trouble finding clear documentation on how to implement custom error handling in Mercury. The examples in the current documentation seem outdated and don't align with the latest version I'm using.\n\nCould you please point me to the correct resources or provide some guidance on this?\n\nThanks,\nJohn Doe"

In [20]:
df1_email_type['email_types'].value_counts()

email_types
['issue']           1444
['inquiry']          608
['suggestion']       205
['other matter']       2
Name: count, dtype: int64

In [21]:
# Remove brackets and single quotes from string entries
df1_email_type['email_types'] = df1_email_type['email_types'].str.replace(r"[\[\]']", '', regex=True)

# Now check value counts again
print(df1_email_type['email_types'].value_counts())

email_types
issue           1444
inquiry          608
suggestion       205
other matter       2
Name: count, dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_19948\805270242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type['email_types'] = df1_email_type['email_types'].str.replace(r"[\[\]']", '', regex=True)

In [22]:
df1_email_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject       2259 non-null   object
 1   message_body  2259 non-null   object
 2   email_types   2259 non-null   object
dtypes: object(3)
memory usage: 53.1+ KB

In [23]:
df1_email_type.isnull().sum()

subject         0
message_body    0
email_types     0
dtype: int64

In [24]:
df1_email_type.head(2)

,subject,message_body,email_types
0,Mercury Language Documentation Issue,"Hi Aetheros Support,\n\nI'm having trouble fin...",inquiry
1,Re: Mercury Language Documentation Issue,"Dear John,\n\nThank you for reaching out to Ae...",inquiry

In [25]:
df1_email_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject       2259 non-null   object
 1   message_body  2259 non-null   object
 2   email_types   2259 non-null   object
dtypes: object(3)
memory usage: 53.1+ KB

In [26]:
df1_email_type['text'] = df1_email_type['subject'] + ' ' + df1_email_type['message_body']
df1_email_type.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_19948\2941825565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type['text'] = df1_email_type['subject'] + ' ' + df1_email_type['message_body']

,subject,message_body,email_types,text
0,Mercury Language Documentation Issue,"Hi Aetheros Support,\n\nI'm having trouble fin...",inquiry,Mercury Language Documentation Issue Hi Aether...
1,Re: Mercury Language Documentation Issue,"Dear John,\n\nThank you for reaching out to Ae...",inquiry,Re: Mercury Language Documentation Issue Dear ...

In [27]:
df1_email_type.drop(columns=['subject', 'message_body'], inplace=True)
df1_email_type.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_19948\954875243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type.drop(columns=['subject', 'message_body'], inplace=True)

  email_types                                               text
0     inquiry  Mercury Language Documentation Issue Hi Aether...
1     inquiry  Re: Mercury Language Documentation Issue Dear ...

In [28]:
import re
import nltk

In [29]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [30]:
stop_words = set(stopwords.words('english'))

In [31]:
def preprocess(text):
    text = text.lower()
    text = text.replace('\n', ' ')  # replace newlines with space
    text = re.sub(r'[^\w\s]', '', text)  # remove punctuation
    text = ' '.join(word for word in text.split() if word not in stop_words)
    return text

df1_email_type['text'] = df1_email_type['text'].apply(preprocess)
df1_email_type.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_19948\3163316339.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type['text'] = df1_email_type['text'].apply(preprocess)

  email_types                                               text
0     inquiry  mercury language documentation issue hi aether...
1     inquiry  mercury language documentation issue dear john...

In [37]:
df1_email_type['text'][3]

'mercury language documentation issue hi checking able find information need regarding custom error handling mercury 235 best john'

In [38]:
df1_email_type['text'] = df1_email_type['text'].str.replace("'", '', regex=False)
df1_email_type.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_19948\1290526636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type['text'] = df1_email_type['text'].str.replace("'", '', regex=False)

  email_types                                               text
0     inquiry  mercury language documentation issue hi aether...
1     inquiry  mercury language documentation issue dear john...

In [39]:
df1_email_type['email_types'].value_counts()

email_types
issue           1444
inquiry          608
suggestion       205
other matter       2
Name: count, dtype: int64

In [40]:
mapping = {
    'issue': 0,
    'inquiry': 1,
    'suggestion': 2,
    'other matter': 3
}

df1_email_type['label'] = df1_email_type['email_types'].map(mapping)
df1_email_type.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_19948\3329370551.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_email_type['label'] = df1_email_type['email_types'].map(mapping)

  email_types                                               text  label
0     inquiry  mercury language documentation issue hi aether...      1
1     inquiry  mercury language documentation issue dear john...      1

In [42]:
df1_email_type=df1_email_type.drop(columns=['email_types'])
df1_email_type.head(2)

                                                text  label
0  mercury language documentation issue hi aether...      1
1  mercury language documentation issue dear john...      1

In [43]:
from sklearn.model_selection import train_test_split

X = df1_email_type['text']
y = df1_email_type['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=5000)
X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

model = LogisticRegression(max_iter=1000)
model.fit(X_train_vec, y_train)

y_pred = model.predict(X_test_vec)

In [47]:
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.838495575221239

In [48]:
# define a function to predict the email type from starting text
def predict_email_type(starting_text):
    # Preprocess the input text
    processed_text = preprocess(starting_text)
    
    # Transform the text using the vectorizer
    text_vec = vectorizer.transform([processed_text])
    
    # Predict the label
    predicted_label = model.predict(text_vec)[0]
    
    # Map the label back to email type
    for key, value in mapping.items():
        if value == predicted_label:
            return key
        

predict_email_type("Hello, I have an issue with my recent order. Can you help me resolve it?")

'issue'

In [50]:
predict_email_type("I have a question about my account. Can you assist me?")

'inquiry'

In [51]:
predict_email_type("I have a question about my account. Can you assist me?")

'inquiry'

In [52]:
predict_email_type("starting_text= I have a suggestion for improving your service. Would you like to hear it?")

'suggestion'

In [53]:
# code to perfome svm
from sklearn.svm import SVC
svm_model = SVC(kernel='linear')
svm_model.fit(X_train_vec, y_train)
y_pred_svm = svm_model.predict(X_test_vec)
print("SVM Accuracy:", accuracy_score(y_test, y_pred_svm))

SVM Accuracy: 0.834070796460177

In [54]:
# code to use random forest
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train_vec, y_train)
y_pred_rf = rf_model.predict(X_test_vec)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))

Random Forest Accuracy: 0.8252212389380531

In [55]:
# code to sav the model and vectorizer
import joblib
joblib.dump(model, '../models/1_email_type_classifier.pkl')
joblib.dump(vectorizer, '../models/1_tfidf_vectorizer.pkl')

['../models/1_tfidf_vectorizer.pkl']

In [ ]:
issue

## Function1

In [66]:
# def a fucntion to load the model and vectorizer and predict the email type
def load_model_and_predict(starting_text):
    # Load the model and vectorizer
    model = joblib.load('../models/1_email_type_classifier.pkl')
    vectorizer = joblib.load('../models/1_tfidf_vectorizer_email_type_classifier.pkl')
    
    # Preprocess the input text
    processed_text = preprocess(starting_text)
    
    # Transform the text using the vectorizer
    text_vec = vectorizer.transform([processed_text])
    
    # Predict the label
    predicted_label = model.predict(text_vec)[0]

    mapping = {
    'issue': 0,
    'inquiry': 1,
    'suggestion': 2,
    'other matter': 3
    }
    
    # Map the label back to email type
    for key, value in mapping.items():
        if value == predicted_label:
            return key

In [67]:
load_model_and_predict("Hello, I have an issue with my recent order. Can you help me resolve it?")

'issue'

In [68]:
load_model_and_predict("I wan you to suggest me some good books to read this summer.")

'issue'

In [69]:
inquiry_text = "I have a question about my account. Can you assist me?"
load_model_and_predict(inquiry_text)

'inquiry'

In [70]:
suggestion_text = "I have a suggestion for improving your service. Would you like to hear it?"
load_model_and_predict(suggestion_text)

'suggestion'

In [61]:
issue_text = "I have an problme with my recent order. Can you help me resolve it?"
load_model_and_predict(issue_text)

'issue'

In [64]:
#create a new df named def1_emai_criticality by combining df1_email_type and df1['email_criticality]
df1_email_criticality = df1_email_type.copy()
df1_email_criticality['email_criticality'] = df1['email_criticality']
df1_email_criticality.head(2)

                                                text  label email_criticality
0  mercury language documentation issue hi aether...      1               low
1  mercury language documentation issue dear john...      1               low

In [65]:
df1['email_criticality'].value_counts()

email_criticality
high      934
medium    666
low       659
Name: count, dtype: int64

In [71]:
mapping2= {
    'high': 3,
    'medium': 2,
    'low': 1
}

df1_email_criticality['email_criticality'] = df1_email_criticality['email_criticality'].map(mapping2)
df1_email_criticality.head(2)

                                                text  label  email_criticality
0  mercury language documentation issue hi aether...      1                  1
1  mercury language documentation issue dear john...      1                  1

In [74]:
df1_email_criticality.rename(columns={'email_criticality': 'urgency'}, inplace=True)

In [75]:
df1_email_criticality.rename(columns={'label': 'email_type'}, inplace=True)

In [76]:
df1_email_criticality.head(2)

                                                text  email_type  urgency
0  mercury language documentation issue hi aether...           1        1
1  mercury language documentation issue dear john...           1        1

In [84]:
# drop email_types column
df1_email_criticality.drop(columns=['email_type'], inplace=True)

In [92]:
#sva e the df1_email_criticality to csv
df1_email_criticality.to_csv('../data/df1_email_criticality.csv', index=False)

In [118]:
# add a nwe colum named label from df1_email_type to df1_email_criticality
df1_email_criticality['label'] = df1_email_type['label']

df1_email_criticality.head(2)

                                                text  urgency  label
0  mercury language documentation issue hi aether...        1      1
1  mercury language documentation issue dear john...        1      1

In [119]:
#rename label column to email_type
df1_email_criticality.rename(columns={'label': 'email_type'}, inplace=True)
# save the df1_email_criticality to csv
df1_email_criticality.to_csv('../data/df1_email_criticality.csv', index=False)

In [77]:
df1_email_criticality['urgency'].value_counts()

urgency
3    934
2    666
1    659
Name: count, dtype: int64

In [120]:
df1_email_criticality.head(2)

                                                text  urgency  email_type
0  mercury language documentation issue hi aether...        1           1
1  mercury language documentation issue dear john...        1           1

In [93]:
df1_email_criticality.head(2)

                                                text  urgency
0  mercury language documentation issue hi aether...        1
1  mercury language documentation issue dear john...        1

In [121]:
df1_email_criticality.head(2)

                                                text  urgency  email_type
0  mercury language documentation issue hi aether...        1           1
1  mercury language documentation issue dear john...        1           1

In [ ]:
from sklearn.model_selection import train_test_split


X = df1_email_criticality[['text', 'email_type']]
y = df1_email_criticality['urgency']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

In [127]:
# 3. TF-IDF Vectorizer
tfidf = TfidfVectorizer()
X_train_text = tfidf.fit_transform(X_train['text'])
X_test_text = tfidf.transform(X_test['text'])

In [129]:
#import hstack
from scipy.sparse import hstack
# 4. Combine TF-IDF text with email_type
X_train_email_type = X_train['email_type'].values.reshape(-1, 1)
X_test_email_type = X_test['email_type'].values.reshape(-1, 1)

X_train_final = hstack([X_train_text, X_train_email_type])
X_test_final = hstack([X_test_text, X_test_email_type])

In [130]:
# 5. Logistic Regression
model = LogisticRegression(max_iter=1000)
model.fit(X_train_final, y_train)

# 6. Predictions
y_pred = model.predict(X_test_final)

In [131]:
# 7. Evaluation
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7721238938053098

In [132]:
# save the model and vectorizer
import joblib
joblib.dump(model, '../models/2_email_criticality_classifier.pkl')
joblib.dump(tfidf, '../models/2_tfidf_vectorizer_email_criticality_classifier.pkl')

['../models/2_tfidf_vectorizer_email_criticality_classifier.pkl']

## Function2

In [135]:
from scipy.sparse import csr_matrix

In [138]:
#function to load the model and vectorizer and predict the email criticality
def load_model_and_predict_criticality(starting_text, email_type):
    # Load the model and vectorizer
    model = joblib.load('../models/2_email_criticality_classifier.pkl')
    tfidf = joblib.load('../models/2_tfidf_vectorizer_email_criticality_classifier.pkl')
    
    # Preprocess the input text
    processed_text = preprocess(starting_text)
    
    # Transform the text using the vectorizer
    text_vec = tfidf.transform([processed_text])
    
    # Prepare email type for prediction
    email_type_vec = csr_matrix([[email_type]])
    
    # Combine text vector and email type
    final_vec = hstack([text_vec, email_type_vec])
    
    # Predict the urgency
    predicted_urgency = model.predict(final_vec)[0]

    # Map the urgency back to its original label
    urgency_mapping = {1: 'low', 2: 'medium', 3: 'high'}
    predicted_urgency = urgency_mapping.get(predicted_urgency, 'unknown')
    
    
    return predicted_urgency

In [140]:
load_model_and_predict_criticality("I have an issue with my recent order. Can you help me resolve it?", 0)

'high'